<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tubes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".sukses_upload_item"></activity>
        <activity android:name=".jual_item" />
        <activity android:name=".pengrajin" />
        <activity android:name=".pencarianItem" />
        <activity android:name=".chatting" />
        <activity android:name=".kodeBayar" />
        <activity android:name=".checkout" />
        <activity android:name=".keranjang" />
        <activity android:name=".spesifikasi_item" />
        <activity android:name=".item" />
        <activity android:name=".menu" />
        <activity android:name=".forgotEmail" />
        <activity android:name=".resetPass" />
        <activity android:name=".singup" />
        <activity android:name=".hal1" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>